<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="HibernateSession">
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">d7f6e693</property>
		<property name="hibernate.connection.url">jdbc:mysql://b23cd5595e4c78:d7f6e693@us-cdbr-iron-east-01.cleardb.net/heroku_1949965214887bc?reconnect=true</property>
		<property name="hibernate.connection.username">b23cd5595e4c78</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
	</session-factory>
</hibernate-configuration>
